@font-face {
    font-family: 'Interstate-Light';
    font-weight: normal;
    font-style: normal;
    src: url("http://intkb.trendmicro.com/media/13899169/interstate-light.eot"), 
         url("http://intkb.trendmicro.com/media/13899172/interstate-light.otf"), 
         url("http://intkb.trendmicro.com/media/13899175/interstate-light.ttf"), 
         url("http://intkb.trendmicro.com/media/13899178/interstate-light.woff")
}

body {
     font-family: 'Interstate-Light';
    font-size: 18px;
    line-height: 1.52222222;
    color: #000000;
    background-color: #ffffff;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5 {
    color: #ffffff;
    line-height: 1em;
}
h1 {
    font-size: 57px;
}
h2 {
    font-size: 43px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 18px;
}
strong, b {
    font-weight: 700;
}
::-moz-selection {
    color: #EFEFEF;
    background: rgba(0, 0, 0, 0.7);
}
::selection {
    color: #EFEFEF;
    background: rgba(0, 0, 0, 0.7);
}
section {
    position: relative;
}
a {
    color: #646469;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    
    -webkit-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
}
a:hover {
    color: #ed5424;
}
* {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
a,
button,
input[type="submit"] {
    outline: none !important;
}
input[type="submit"].btn-primary:hover {
    background: #0463a0;
}
p {
    font-size: 22px;
    line-height: 1.4em;
    margin-bottom: 35px
}
p:last-child {
    margin-bottom: 0
}
section {
    position: relative
}
section.section-block {
    padding: 100px 0
}
a, button, input[type="submit"] {
    text-decoration: none;
    outline: none !important;
    -webkit-transition: all ease-in-out 300ms !important;
    -moz-transition: all ease-in-out 300ms !important;
    transition: all ease-in-out 300ms !important;
}
input[type="submit"] {
    color: #ffffff;
}
input[type="submit"]:disabled {
    cursor: default;
}
::-webkit-input-placeholder {
    color: #999999;
}
:-moz-placeholder {
    color: #999999;
}
::-moz-placeholder {
    color: #999999;
}
:-ms-input-placeholder {
    color: #999999;
}
input:focus::-webkit-input-placeholder {
    color: #dedede
}
input:focus:-moz-placeholder {
    color: #dedede
}
input:focus::-moz-placeholder {
    color: #dedede
}
input:focus:-ms-input-placeholder {
    color: #dedede
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row-6 {
    margin-left: -6px;
    margin-right: -6px;
}
.row-30 {
    margin-left: -30px;
    margin-right: -30px;
}
.clearfix:after {
   content: "";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 130px;
    padding-right: 130px;
    /* max-width: 1100px; */
    position: relative;
}
.text-center {
    text-align: center
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right !important;
}
.field input[type="text"]:focus::placeholder,
.field input[type="number"]:focus::placeholder,
.field input[type="email"]:focus::placeholder,
.field input[type="password"]:focus::placeholder,
.field textarea:focus::placeholder {
    color: #949494;
}
.field input[type="text"],
.field input[type="number"],
.field input[type="email"],
.field input[type="password"],
.field select,
.field textarea {
    display: block;
    width: 100%;
    height: 43px;
    background: #ffffff;
    border: 2px solid #e8eef1;
    font-style: italic;
    outline: none;
    color: #061421;
    font-size: 18px;
    padding: 0 15px;
    -webkit-transition: all linear 300ms;
    -moz-transition: all linear 300ms;
    -ms-transition: all linear 300ms;
    transition: all linear 300ms;
    font-weight: 400;
}
.field input[type="text"]:focus,
.field input[type="number"]:focus,
.field input[type="email"]:focus,
.field input[type="password"]:focus,
.field select:focus,
.field textarea:focus {
    background: #f9f9f9;
}
.field textarea {
    height: 147px;
    padding: 15px;
    resize: none;
}
.field select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* background: url("../images/arrow-down.png") no-repeat right center !important; */
    background-color: #ffffff !important;
    text-transform: capitalize;
    background-size: 20px !important;
}
::-webkit-input-placeholder {
    color: #33393e;
}
::-moz-placeholder {
    color: #33393e;
}
:-ms-input-placeholder {
    color: #33393e;
}
:-moz-placeholder {
    color: #33393e;
}
.field {
    margin-bottom: 15px;
}
label {
    text-transform: capitalize;
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    line-height: 1em;
    margin-bottom: 3px;
    display: block;
    color: #585858;
}
.flexbox_container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}
.flexbox_container_center {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;

    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: stretch;
    float: left;
}
.flex_child {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex_grid_one {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flex_grid_auto {
    -webkit-flex: none;
    -moz-flex: none;
    -ms-: none;
    flex: none;
}
.flexbox_grid_100 {
    width: 100%;
}
.flexbox_grid_90 {
    width: 90%;
}
.flexbox_grid_80 {
    width: 80%;
}
.flexbox_grid_70 {
    width: 70%;
}
.flexbox_grid_60 {
    width: 60%;
}
.flexbox_grid_50 {
    width: 50%;
}
.flexbox_grid_60 {
    width: 60%;
}
.flexbox_grid_40 {
    width: 40%;
}
.flexbox_grid_30 {
    width: 30%;
}
.flexbox_grid_20 {
    width: 20%;
}
.flexbox_grid_10 {
    width: 10%;
}
/* ******************** */
.flexbox_grid_75 {
    width: 75%;
}
.flexbox_grid_25 {
    width: 25%;
}
.flexbox_grid_3 {
    width: 33.33%;
}
.banner {
}
h2 {
  color: red;
  margin: 30px 0;
}
img {
  max-width: 100%;
  display: block;
  width: 100%;
}
.main_wrapper {
    position: relative;
}